name: First Workflow for Order Service
on: workflow_dispatch
jobs: 
 first-job:
  runs-on: ubuntu-latest
  steps:
   - name: Print greeting
     run:  echo "Welcome Order Page!"
   - name: Print logout
     run:  echo "Done - see you!"
